
.form-container{
    border: 0px solid #fff;
    padding: 40px 40px;
    margin-top: 20vh;
    margin-bottom: 100vh;
    -webkit-box-shadow: 7px 10px 22px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 22px 17px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 22px 17px rgba(0,0,0,0.75);
}
.main{
    background: url('backGround.jpg') repeat fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
}
